/* KPI */
.kpi-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.kpi-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.kpi-card h2 {
  font-size: 32px;
  margin: 0;
}

.kpi-card.highlight h2,
.kpi-card.danger h2 {
  color: red;
}

/* Filter */
.filter-bar {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.filter-bar input,
.filter-bar select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Table */
.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

/* Badge */
.badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.badge.vip {
  background: #ffd700;
  color: #220000;
}

.badge.repeat {
  background: #b6d9ff;
  color: #003cbe;
}

.badge.first-time {
  background: #eaeaea;
  color: #717171;
}

.badge.active {
  background: #d1fae5;
  color: #065f46;
}

.badge.inactive {
  background: #fee2e2;
  color: #991b1b;
}

/* Actions */
.actions {
  text-align: center;
  cursor: pointer;
}

/* admin dashboard leftside navbar */
.admin-layout {
  display: flex;
  min-height: calc(100vh - 56px);
  align-items: stretch;
}

.admin-sidebar {
  width: 220px;
  background-color: #181616;
  color: #fff;
  padding: 20px;
  flex-shrink: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.admin-sidebar a{
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.admin-sidebar a:hover {
  color: #fff;
}

.sidebar-title {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 15px;
  text-transform: uppercase;
}

/* main contents */
.admin-content {
  flex: 1;
  padding: 24px;
  background-color: #f5f5f5;
}

